.fb-page data-hide-cover="true" data-href="https://www.facebook.com/ShiYiJieJournalist" data-width="100%" data-show-facepile="true" data-show-posts="false"
  .fb-xfbml-parse-ignore
    blockquote cite="https://www.facebook.com/ShiYiJieJournalist"
      a href="https://www.facebook.com/ShiYiJieJournalist"  綜合外電施旖婕
