// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/filter";
@import "compass/css3/text-shadow";

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2em;
}

.tag-group {
  display: inline-block;
  margin-right: 1em;
  font-size: small;
}


.feature-image-container {
  max-width: 58em;
}
img.feature-image {
  width: 100%;
}

.dark-image-filter {
  width: 100%;
  @include filter(brightness(50%) blur(2px));
  #cover-img {
    width: 100%;
  }
}

.intro-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 327px;

  .cover-img-container {
    position: absolute;
    width: 100%;
    max-height: 100%;
  }
}

.panel-footer-custom {
  padding: 0 15px;
}

@media screen and (max-width: 490px) {
  .dark-image-filter {
    #cover-img {
      width: auto;
      height: 100%;
      // margin-left: -100%;
    }
  }
}
